{% extends 'shared/main.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'reservation/flow.css' %}" />
{% endblock %}

{% block content %}

<section class="container">
    <ul class="task-items">
        {% for r in res %}
            <li class="item type1">
            <div class="task">

                    <a href="/reservation/remove/{{r.id}}/"><img src="{% static 'icons/delete.png' %}" width="30" height="30"/></a>
                <div style="padding-left: 2%; font-weight: bold;">Hotel</div>
                <div class="name" style="width: 150px; height: auto;">{{r.hotel.name}}</div>
            </div>

            <div class="status">
                <div class="icon off"></div>
                <div class="text">Reserved</div>
            </div>

            <div class="dates">
                <div class="bar">$ {{r.payed}}</div>
            </div>
            
            <div class="dates">
                <div class="bar">{{r.start_date}}</div>
            </div>

            <div class="priority">
                <div class="bar">{{r.end_date}}</div>
            </div>

            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
